*{
    box-sizing: border-box;
}
img{
    width: 100%;
}

#hot{
    height: 100vh;
    width: 100%;
    background-image: url("hot.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

#juicy{
    height: 100vh;
    width: 100%;
    background-image: url("juicy.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

#cosy{
    height: 100vh;
    width: 100%;
    background-image: url("cosy.jpg");
    background-size: cover;
    background-position: 50% 50%;
}